.reveal .roll span:after {
	color: #fff;
	background: hsl(185, 60%, 35%);
}
/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls a {
	color: #fff;
}
	.reveal .controls a.enabled {
		color: hsl(185, 85%, 70%);
		text-shadow: 0px 0px 2px hsla(185, 45%, 70%, 0.3);
	}


/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
	background: rgba(0,0,0,0.2);
}
	.reveal .progress span {
		background: hsl(185, 85%, 50%);

		-webkit-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		   -moz-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		    -ms-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		     -o-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		        transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	}

